<!DOCTYPE html>
<html>

<head>
  <title>Login with google</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript">
  </script>
</head>

<body>
  <h1>Thank you for Logging with Google Oauth2</h1>
  <p>Your Email:  <%= email %></p>
  <p>Your Name: <%= name %></p>
</body>

</html>